@use '../../sass/abstracts' as *;
@use '../../sass/components' as *;

section.filter {
    margin-top: 20px;
    width: 700px;
    height: 48px;
    @include spaceBetweenFlex();

    div.buttons {
        width: 330px;

        button {
            &:first-child {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            &.active {
                background: $activeButton;
                border-color: $activeButton;
                color: white;
            }
        }

        @media (max-width: $tablet) {
            width: $mobileContainerWidth;
            margin-top: 20px;
        }
    }

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        width: $mobileContainerWidth;
        height: 148px;
    }
}