@use '../../sass/abstracts' as *;

section.header {
    @include spaceBetweenFlex();
    width: 700px;
    margin-top: 20px;

    div.header {
        font-weight: bold;
        font-size: 40px;
    }

    @media (max-width: $tablet) {
        width: $mobileContainerWidth;
        flex-wrap: wrap;
    }
}