$tablet: 767px;

section.header {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;

    div.header {
        font-weight: bold;
        font-size: 40px;
    }

    @media (max-width: $tablet) {
        width: 90vw;
        flex-wrap: wrap;
    }
}