section.header {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
}

section.header div.header {
    font-weight: bold;
    font-size: 40px;
}

@media (max-width: 767px) {
    section.header {
        width: 90vw;
        flex-wrap: wrap;
    }
}