@use '../../sass/abstracts' as *;
@use '../../sass/components' as *;

section.add-todo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: 48px;
    display: flex;

    input {
        margin-right: 14px;

        @media (max-width: $tablet) {
            margin-bottom: 20px;
        }
    }

    button {
        padding: 0 20px;
        border-radius: 5px;

        &.active {
            background-color: $activeButton;
            border-color: $activeButton;
            color: white;
        }
    }

    @media (max-width: $tablet) {
        width: $mobileContainerWidth;
        flex-wrap: wrap;
    }
}