div.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

@media (max-width: 768px) {
    div.App {
        width: 90vw;
        margin: 0 auto;
    }
}